
<div class="row">
    <div class="col-md-20 mt-10">
        <div class="card">


            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
{#                        <a class="text-decoration-none text-dark" href="{% url 'user_list' %}">#}
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Nurses <i class="fas fa-users"></i></h4>
                                    <h3>{{ user2_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4">

                    </div>

                    <div class="col-md-4">
                            <div class="card my-card shadow">
                                <div class="card-body text-center">
                                    <h4>Patients in My ward<i class="fas fa-shipping-fast"></i></h4>
                                    <h3>{{ wardpatient_count }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













{#<div class="row">#}
{#    <div class="col-md-20 mt-10">#}
{#        <div class="card">#}
{##}
{##}
{#            </div>#}
{##}
{#            <div class="card-body">#}
{#                <div class="row">#}
{#                    <div class="col-md-4">#}
{#                            <div class="card my-card shadow">#}
{#                                <div class="card-body text-center">#}
{#                                    <h4>Nurses <i class="fas fa-users"></i></h4>#}
{#                                    <h3>{{ user2_count }}</h3>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{##}
{#                       <div class="card-body">#}
{#                <div class="row">#}
{#                    <div class="col-md-4">#}
{#                            <div class="card my-card shadow">#}
{#                                <div class="card-body text-center">#}
{#                                    <h4>Patient in your ward <i class="fas fa-users"></i></h4>#}
{#                                    <h3>{{wardpatient_count}}</h3>#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{##}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
