<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<head>
    <title> PatientHUB</title>
</head>
<body>
<a href ="login/">Logout </a>
    {% if request.user.is_staff %}
        {{ request.user }}
        <div class="text-center">
        <h1> Welcome to PatientHUB!</h1>
        <p> How can we help you today?</p>
        </div>
    {% endif %}


</body>
</html>

